.header {
    width: 100%;
    display: inline-block;
    background-color: #f37021;
    overflow: hidden;
  }

  .header .navItems{
    display: inline-block;
    /* padding: 1.5rem 1rem; */
  }

  .header .navItems:hover{
    background: #ccc;
  }
  .header ul li{
    padding: 1rem;
    display: inline;
    transition: ease .15s;
  }
  
  .header ul li:hover{
    background-color: rgb(72, 75, 75);
    color: #ccc;
    cursor: pointer;
  }

  .appName {
    display: inline-flex;
    font-size: 25px;
    padding: .5rem;
  }
   
  