.header {
    width: 100%;
    /* padding: 1rem 0; */
    background-color: #f37021;
  }

  .header ul {
    /* text-align: right; */
    display: inline-flex;
    justify-content: right;
    padding: 1rem 0;
  }

  .header ul li{
    padding: 1rem;
    display: inline;
    transition: ease .15s;
  }
  
  .header ul li:hover{
    background-color: rgb(72, 75, 75);
    color: #ccc;
    cursor: pointer;
  }

  .appName {
    display: inline-block;
    font-size: 25px;


  }
  
  